p
 {
     text-align: center;
     background: #CCCCCC;
 }
 .titutloprincipal
 {
    padding-left: 30px; 
 }

 #banner{
    width: 100%;
 }
 .principal
 {
    background: #CCCCCC;
    padding: 20px;
 }
 em strong
 {
    background: red;
 }
 .titutlocentro
 {
    text-align: center; 
 }
 #mision
 {
    font-size: 20px;
 }

 .items
 {
    font-style: italic;
 }
 ul
 {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
 }
 .diferenciales
 {
    background: white;
    padding: 30px;
 }
 .imagendiferenciales
 {
    width: 50%
 }
